<head>
    <script src="https://unpkg.com/vue/dist/vue.js"></script>
    <link rel="stylesheet" type="text/css" href="style.css">
</head>
<body>
    <div id="alchemy-app" class="page-wrap">
        <div id="ingredients-list">
        <input name="thing" v-model="ingredientsQuery" placeholder="query ingredients">
        <select v-model="selectedIngredients" multiple>
            <option
                v-for="ingredient in ingredients"
                v-show="filteredIngredients.indexOf(ingredient) !== -1"
                v-bind:value="ingredient"
                v-bind:title="ingredient.effects.join('\n')"
                v-bind:class="{ matchesSelected: matchesSelected(ingredient) }">
                {{ ingredient.name }}
            </option>
        </select>
        </div>

        <div id="recipe-list">
            <ul>
                <template v-for="recipe in foundRecipes">
                <li v-if="recipe.ingredients.length === 2">
                    <span v-bind:title="recipe.ingredients[0].effects.join('\n')">{{ recipe.ingredients[0].name }}</span> +
                    <span v-bind:title="recipe.ingredients[1].effects.join('\n')">{{ recipe.ingredients[1].name }}</span>
                    <p>{{ recipe.effects.join(', ') }}</p>
                </li>
                <li v-else>
                    <span v-bind:title="recipe.ingredients[0].effects.join('\n')">{{ recipe.ingredients[0].name }}</span> +
                    <span v-bind:title="recipe.ingredients[1].effects.join('\n')">{{ recipe.ingredients[1].name }}</span> +
                    <span v-bind:title="recipe.ingredients[2].effects.join('\n')">{{ recipe.ingredients[2].name }}</span>
                    <p>{{ recipe.effects.join(', ') }}</p>
                </li>
                </template>
            </ul>
        </div>

        <!--<div id="effects-list">-->
        <!--<input name="thing" v-model="effectsQuery" placeholder="query effects">-->
        <!--<select v-model="selectedEffects" multiple>-->
            <!--<option v-for="effect in filteredEffects" v-bind:value="effect" v-bind:title="effect.ingredients.join('\n')">-->
                <!--{{ effect.name }}-->
            <!--</option>-->
        <!--</select>-->
        <!--</div>-->

    </div>


    <script src="alchemy.js" type="text/javascript"></script>
</body>
