.page-wrap {
    display: flex;
    flex-direction: row;
}

input {
    display: block;
    font-size: large;
}

select {
    height: 90%;
    width: 100%;
    font-size: large;
    color: grey;
}

.matchesSelected {
    color: black;
}